<% provide(:title, @taxon.name) %>
<% content_for :add_shop_link do %>
  <li>
    <%= link_to 'shop', '#' %>
  </li>
<% end %>

<%= render 'shared/page_header', name: @taxon.name %>

<!-- MAIN CONTENT SECTION -->
<%= render 'main_content_category', products: @products, taxonomies: @taxonomies %>

<!-- LIGHT SECTION -->
<%= render 'partners_section' %>
