<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 class="modal-title">Create an account</h3>
    </div>
    <div class="modal-body">
      <form action="" method="POST" role="form">
        <div class="form-group">
          <label for="signup-email">Enter Email</label>
          <input type="email" class="form-control" id="signup-email">
        </div>
        <div class="form-group">
          <label for="signup-password">Password</label>
          <input type="password" class="form-control" id="signup-password">
        </div>
        <div class="form-group">
          <label for="signup-password-confirmation">Confirm Password</label>
          <input type="password" class="form-control" id="signup-password-confirmation">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Sign up</button>
      </form>
    </div>
  </div>
</div>
